.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.landing-container h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2.2em;
}

.login-form {
  margin: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  padding: 30px 40px; /* Increase the padding to make the containers bigger */
  border-radius: 10px; /* Rounded corners like the buttons */
  width: 340px; /* Adjusted width as per increased padding */
}

.create-account {
  margin-bottom: 10px;
}

.create-account a {
  color: grey;
  text-decoration: none;
  font-size: 0.9em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.create-account a:hover {
  color: darkgrey;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 15px 0; /* Increase the spacing for the inputs */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button, .btn {
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 7px !important; 
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.professional-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 20px; /* Adjusted the margin for increased spacing */
  width: 200px;
}

.professional-code-input {
  margin: 15px 0;
}

label, .checkbox-label {
  margin-right: 10px;
  white-space: nowrap;
}
