.user-home-container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: #E6E6FA !important; 
}

.welcome-header {
    text-align: center;
    color: #333;
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold; 
}

.submissions-button {
    width: 40%; 
    background-color: #C3B1E1;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; 
    font-family: 'Roboto', sans-serif; 
}

.mission-statement-container {
    border-radius: 15px;
    overflow: hidden; 
}

.mission-statement {
    width: 100%;
    height: 200px; 
    background-color: #FAF9F6;
    display: block;
    box-sizing: border-box; 
    overflow: auto;
    padding: 20px; 
}

.mission-header, .funies-text {
    font-size: 1.25em; 
    text-align: center;
    width: 100%;
    font-family: 'Hello Sans', sans-serif; 
}

.image-container {
    text-align: center; 
    margin: 20px 0;
}

.submissions-section {
    background-color: #FAF9F6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px; 
}

.submission-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 15px; 
    margin-bottom: 1px;
}

.submit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #C3B1E1;
    color: #fff; 
    font-weight: bold;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
}

.file-input {
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 15px;
    
  }
  
  .upload-button {
    display: inline-block;
    border-radius: 15px;
    background-color: #C3B1E1;
    color: #fff;
    font-weight: bold;
  }
  
  .profile-icon-button {
    position: absolute;
    width: 70px !important;  
    height: 70px !important;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px !important;
    border: none;
    padding: 0; 
    background: none;
}
